Assets/MosBrainCameraTest/**/*.xml filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/SoccerField/source/*.blend1 filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/SoccerField/source/*.glb filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/SoccerField/source/*.blend filter=lfs diff=lfs merge=lfs -text
